<%- include('../partials/header') %>

<div class="content-container">
    <% if (matches.length == 0) {%>
    <h1 class="uh-oh">It seems like you haven't recorded any matches.</h1>
    <h3 class="uh-oh">Add one by clicking the button below!</h3>
    <% } else { %>
        <h1 class="content-h1">MATCHES</h1>
        <div class="list-options">
            <button class="btn-active" id="user-matches-btn" type="click">My Matches</button> <button id="all-matches-btn" type="click" disabled>All Matches</button>
        </div>

        <content>
            <div class="index-match-container hidden" id="user-matches">
                <h1 class="content-h1">My Matches</h1>
                <% userMatches.forEach(m => { %>
                    <div class="match-container">
                        <div class="avatar">
                            <img src="<%=m.character.path%>">
                            <p><%=m.character.name%></p>
                        </div>
                        <div class="scores">
                            <h4><small>Kills</small> <span><%= m.kills %></span>
                            </h4>
                            <h4><small>Deaths</small><span><%= m.deaths %></span>
                            </h4>
                            <h4><small>K/D</small><span><%= (m.kills / ((m.deaths===0) ? 1 : m.deaths)).toFixed(2) %></span>
                            </h4>
                        </div>
                        <div class="result">
                            <h1><%= (m.win) ? 'W' : 'L' %></h1>
                            <p>Result</p>
                        </div>
                        <div class="details-button-container">
                            <form action="/matches/<%= m._id %>" method="GET">
                                <input class="details-button" type="submit" value="DETAILS">
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="index-match-container" id="all-matches">
                <h1 class="content-h1">All Matches</h1>
                <% matches.forEach(m => { %>
                    <div class="match-container">
                        <div class="avatar">
                            <img src="<%=m.character.path%>">
                            <a class="user-link" href='/users/<%=m.user._id%>'><%=m.user.name.split(' ')[0]%></a>
                        </div>
                        <div class="scores">
                            <h4><small>Kills</small> <span><%= m.kills %></span>
                            </h4>
                            <h4><small>Deaths</small><span><%= m.deaths %></span>
                            </h4>
                            <h4><small>K/D</small><span><%= (m.kills / ((m.deaths===0) ? 1 : m.deaths)).toFixed(2) %></span>
                            </h4>
                        </div>
                        <div class="result">
                            <h1><%= (m.win) ? 'W' : 'L' %></h1>
                            <p>Result</p>

                        </div>
                        <div class="details-button-container">
                            <form action="/matches/<%= m._id %>" method="GET">
                                <input class="details-button" type="submit" value="DETAILS">
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
        </content>
        <script>
            const userMatchesEl = document.querySelector('#user-matches');
            const allMatchesEl = document.querySelector('#all-matches');
            const userMatchesBtn = document.querySelector('#user-matches-btn');
            const allMatchesBtn = document.querySelector('#all-matches-btn');
            const toggleVis = (e) => {
                userMatchesBtn.classList.toggle('btn-active');
                allMatchesBtn.classList.toggle('btn-active');
                userMatchesEl.classList.toggle('hidden');
                allMatchesEl.classList.toggle('hidden');
                userMatchesBtn.disabled = !userMatchesBtn.disabled;
                allMatchesBtn.disabled = !allMatchesBtn.disabled;
            };
            userMatchesBtn.addEventListener('click', toggleVis);
            allMatchesBtn.addEventListener('click', toggleVis);
        </script>
    <% } %>
        <form action="/matches/new" method="GET">
            <button class="add-sign" type="submit">+</button>
        </form>
</div>

<%- include('../partials/footer') %>
