<%- include('./../partials/header') %>
    <div class="backdrop hidden">

    </div>
    <div class="modal hidden">

    </div>

    <div class="content-container">
        <h1>Match Details</h1>
        <div class="match-details">
            <div class="avatar">
                <img src="<%=match.character.path%>">
                <p>
                    <%= match.character.name %>
                </p>
            </div>
            <div class="scores">
                <h4><small>Kills</small> <span><%= match.kills %></span>
                </h4>
                <h4><small>Deaths</small><span><%= match.deaths %></span>
                </h4>
                <h4><small>K/D</small><span><%= (match.kills / ((match.deaths===0) ? 1 : match.deaths)).toFixed(2) %></span>
                </h4>
            </div>
            <div class="result">
                <h1><%= (match.win) ? 'W' : 'L' %></h1>
                <p>Result</p>
            </div>
        </div>
        <div class="weapons-container">
            <h3>Loadout</h3>
            <% match.loadout.forEach(w => { %>
                <div>
                    <img class="weapon-img" src="<%=w.path%>">
                    <p><%=w.name%></p>
                </div>
                <% }) %>
        </div>
        <div class="options-container">
            <% if (isOwnUser) {%>
                <img class="icon" src="/images/assets/edit-icon.svg" id="update-match-button" type="click" alt="Update">
                <img class="icon" src="/images/assets/delete-icon.svg" id="delete-match-button" alt="Delete type="
                    click">
            <script defer>
                const updateBtnEl = document.querySelector('#update-match-button');
                const deleteBtnEl = document.querySelector('#delete-match-button');
                const modalEl = document.querySelector('.modal');
                const backdropEl = document.querySelector('.backdrop');
                const deleteModalEl = document.querySelector('#delete-modal');
                const updateModalEl = document.querySelector('#update-modal');
                const bodyEl = document.querySelector('body');

                updateBtnEl.addEventListener('click', (event) => {
                    toggleModal();
                    modalEl.innerHTML = `
                <h1 class="x-close">X</h1>
                <h1>Update Match Details</h1>
            <form action="/matches/<%=match._id%>?_method=PUT" method="POST" id="update-match">
                <div>
                    <label for="character">
                        Character:
                        <select name="character">
                            <option value="Bangalore">Bangalore</option>
                            <option value="Bloodhound">Bloodhound</option>
                            <option value="Gibraltar">Gibraltar</option>
                            <option value="Lifeline">Lifeline</option>
                            <option value="Pathfinder">Pathfinder</option>
                            <option value="Wraith">Wraith</option>
                            <option value="Caustic">Caustic</option>
                            <option value="Mirage">Mirage</option>
                            <option value="Octane">Octane</option>
                            <option value="Wattson">Wattson</option>
                            <option value="Crypto">Crypto</option>
                            <option value="Revenant">Revenant</option>
                            <option value="Loba">Loba</option>
                            <option value="Rampart">Rampart</option>
                            <option value="Horizon">Horizon</option>
                            <option value="Fuse">Fuse</option>
                            <option value="Seer">Seer</option>
                            <option value="Ashe">Ashe</option>                      
                        </select>
                    </label>
                </div>
                    <div class="score-container">
                        <div>
                            <label for="kills">
                                Kills <input type="number" name="kills" min="0" max="60" required>
                            </label>
                            <label for="deaths">
                                Death(s) <input type="number" name="deaths" min="0" max="10"
                                required>
                            </label>
                        </div>
                        <div>
                            <label for="placement">
                                Placement <input type="number" min="0" max="20" placeholder="/20"
                                required>
                            </label>
                            <label for="win">
                                Win?<input type="checkbox" name="win">
                            </label>
                        </div>
                    </div>
                    <div class="weapons-container">
                        Loadout
                        <select name="weapon1" id="weapon1-select" required>
                            <option value="">-- Weapon1 --</option>
                            <option value="Bocek Compound Bow">Bocek Compound Bow</option>
                            <option value="HAVOC">Havoc</option>
                            <option value="Devotion">Devotion</option>
                            <option value="L-Star">L-Star</option>
                            <option value="Triple Take">Triple Take</option>
                            <option value="Volt">Volt</option>
                            <option value="VK-47 Flatline">VK-47 Flatline</option>
                            <option value="Hemlok Burst AR">Hemlok Burst AR</option>
                            <option value="Rampage">Rampage</option>
                            <option value="30-30 Repeater">30-30 Repeater</option>
                            <option value="Wingman">Wingman</option>
                            <option value="Prowler Burst PDW">Prowler Burst PDW</option>
                            <option value="C.A.R. SMG">C.A.R. SMG</option>
                            <option value="R-301 Carbine">R-301 Carbine</option>
                            <option value="R-99 SMG">R-99 SMG</option>
                            <option value="RE-45">RE-45</option>
                            <option value="P2020">P2020</option>
                            <option value="EVA8 Auto">EVA8 Auto</option>
                            <option value="Mastiff Shotgun">MastiffShotgun</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Peacekeeper">Peacekeeper</option>
                            <option value="Charge Rifle">Charge Rifle</option>
                            <option value="Longbow DMR">Longbow DMR</option>
                            <option value="Sentinel">Sentinel</option>
                            <option value="Spitfire">Spitfire</option>
                            <option value="G7 Scout">G7 Scout</option>
                            <option value="Alternator SMG">Alternator SMG</option>
                            <option value="Kraber .50-Cal Sniper">Kraber .50-Cal Sniper</option>
                        </select>
                        <select name="weapon2" id="weapon2-select" required>
                            <option value="">-- Weapon2 --</option>
                            <option value="Bocek Compound Bow">Bocek Compound Bow</option>
                            <option value="HAVOC">Havoc</option>
                            <option value="Devotion">Devotion</option>
                            <option value="L-Star">L-Star</option>
                            <option value="Triple Take">Triple Take</option>
                            <option value="Volt">Volt</option>
                            <option value="VK-47 Flatline">VK-47 Flatline</option>
                            <option value="Hemlok Burst AR">Hemlok Burst AR</option>
                            <option value="Rampage">Rampage</option>
                            <option value="30-30 Repeater">30-30 Repeater</option>
                            <option value="Wingman">Wingman</option>
                            <option value="Prowler Burst PDW">Prowler Burst PDW</option>
                            <option value="C.A.R. SMG">C.A.R. SMG</option>
                            <option value="R-301 Carbine">R-301 Carbine</option>
                            <option value="R-99 SMG">R-99 SMG</option>
                            <option value="RE-45">RE-45</option>
                            <option value="P2020">P2020</option>
                            <option value="EVA8 Auto">EVA8 Auto</option>
                            <option value="Mastiff Shotgun">MastiffShotgun</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Peacekeeper">Peacekeeper</option>
                            <option value="Charge Rifle">Charge Rifle</option>
                            <option value="Longbow DMR">Longbow DMR</option>
                            <option value="Sentinel">Sentinel</option>
                            <option value="Spitfire">Spitfire</option>
                            <option value="G7 Scout">G7 Scout</option>
                            <option value="Alternator SMG">Alternator SMG</option>
                            <option value="Kraber .50-Cal Sniper">Kraber .50-Cal Sniper</option>
                        </select>
                    </div>
                </label>
                </div>
                <div class="button-container">
                    <p class="close-btn">Close</p>
                    <button type="submit">Update</button>
                </div>
            </form>
                    `
                    helper();
                });

                deleteBtnEl.addEventListener('click', (event) => {
                    toggleModal();
                    modalEl.innerHTML = `
                    <h1 class="x-close">X</h1>
                    <div class="confirmation">
                        <h1>Are you sure you want to delete this match?</h1>
                        <form action="/matches/<%=match._id%>?_method=DELETE" method="POST">
                            <div>
                            <p class="close-btn">NO</p>
                            <button type="submit">YES</button>
                            </div>
                        </form>
                    </div>
                    `
                    helper();
                });

                function toggleModal(){
                    modalEl.classList.toggle('hidden');
                    backdropEl.classList.toggle('hidden');
                    bodyEl.classList.toggle('scroll-disabled');
                    window.scrollTo(0, 0);
                }
                
            function helper() {
                const closeBtnEls = document.querySelectorAll('.close-btn');
                const xEls = document.querySelectorAll('.x-close');
                const applyListeners = (elsArr) => {
                    elsArr.forEach(el => {
                        el.addEventListener('click', toggleModal);
                    });
                };
                applyListeners(xEls);
                applyListeners(closeBtnEls);
            }

            </script>
            <% } else { %>
                <img class="note-avatar" src="<%=match.user.avatar%>">
                <div class="match-poster-details">
                    <p><%= match.user.name %></p>
                    <p><small>Posted <%= match.createdAt.toLocaleDateString() %></small></p>
                </div>
            <% } %>
            </div>
                <div class="notes-container">
                    <h1>Notes</h1>
                    <hr>
                    <% if (match.notes.length !==0){ %>
                        <% match.notes.forEach(n=> { %>
                            <div class="note">
                                <div class="note-header">
                                    <div class="category">
                                        <h6>Category</h6>
                                        <h5>
                                            <%= n.category %>
                                        </h5>
                                    </div>
                                    <div class="importance">
                                        <h6>Priority</h6>
                                        <h5>
                                            <%= n.importance %>
                                        </h5>
                                    </div>
                                </div>
                                <div class="note-content">
                                    <p id="content">
                                        <%= n.content %>
                                    </p>
                                </div>
                                <div class="note-poster">
                                    <img class="note-avatar" src="<%=n.postedBy.avatar%>">
                                    <div class="note-poster-detail">
                                        <p>
                                            <%= (n.postedBy.name===user.name) ? 'You' : n.postedBy.name.split(' ')[0]%></p>
                            <p>Posted <%= n.createdAt.toLocaleDateString() %></p>
                        </div>
                    </div>
                </div>
            <% }); %>

        <%} else { %>
           <h4>You don' t have any notes for this match yet!</h4>
                                                <h5>Add a note by clicking the button below!</h5>
                                                <% } %>
                                                    <hr>
                                    </div>
                                    <form action="/matches/<%=match._id%>/notes/new" method="GET">
                                        <button class="add-sign" type="submit">+</button>
                                    </form>
                                </div>

                                <%- include('./../partials/footer') %>